.slide-container {
  height: 100%;
}

.react-slideshow-container {
  height: 50vh;
}

#bg-home {
  height: 30vh;
}

#slideshow-home {
  margin-right: 1vw;
  margin-top: 6vh;
}

.react-slideshow-container .nav {
  z-index: 1;
  position: relative;
}
