.navi {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 2vh;
}

.Logout-nav {
  margin-top: 10px;
  margin-bottom: 10px;
}

nav {
  text-align: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#nav {
  flex-grow: 1;
  padding: 1em;
  position: relative;
  font-size: 2vh;
}

#nav::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  transform: scaleX(0);
  background: #333;
  transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
}

#nav:hover::after {
  transform: scaleX(1);
}

#nav {
  text-decoration: none;
  color: inherit;
}
