.navbar {
  border-top: 4px solid darkgray;
  border-bottom: 4px solid darkgray;
  background-color: white;
  height: 10vh;
  font-size: large;
  z-index: 1000;
}

.navi {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.login-nav {
  float: right;
  text-decoration: none;
}

.createAccount-nav {
  float: right;
  text-decoration: none;
  margin-right: 1%;
  margin-left: 1%;
}

.home-nav {
  margin-left: 1%;
  margin-right: 1%;
  box-sizing: content-box;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  padding-left: 2.5vh;
  padding-right: 2.5vh;
  border: 5px solid darkgray;
  text-decoration: none;
}

.parks-nav {
  box-sizing: content-box;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  padding-left: 2.5vh;
  padding-right: 2.5vh;
  border: 5px solid darkgray;
  text-decoration: none;
}

.dropdown {
  float: right;
  margin: 0;
  margin-left: 2vh;
  margin-right: 1vh;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 10vh;
  box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.Logout-nav {
  margin-top: 10px;
  margin-bottom: 10px;
}
