.navbar {
  border-top: 4px solid darkgray;
  border-bottom: 4px solid darkgray;
  background-color: white;
}

.nav {
  padding: 10px;
}

.createAccount {
  float: right;
}

.login {
  float: right;
  margin-right: 1%;
  margin-left: 1%;
}

.home {
  margin-right: 1%;
}
