.invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

input:focus {
  background-color: rgb(240, 233, 233);
  outline: none;
}

.form-control.is-invalid,
.form-control:invalid {
  border-color: #dc3545;
}

.create {
  text-align: center;
}

.field {
  margin: auto;
  margin-top: 1vh;
}

input {
  margin-top: 1vh;
}

button {
  margin-top: 5vh;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
}

label {
  font-size: 20px;
}

.register-form {
  text-align: center;
  display: block;
  margin: 5% auto;
  max-width: 90vh;
  border-radius: 2vh;
  box-shadow: inset 0 0 1em white, 0 0 1em black;
  background-color: white;
  padding-top: auto;
  padding-bottom: auto;
  z-index: 1;
}

.register-in-box {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.inputRegi {
  font-size: 20px;
}

.form-control {
  font-size: 20px;
}

.create-account-button {
  margin-top: 0;
  background-color: darkgray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 10px;
}

.user-exists {
  color: red;
  margin-bottom: 1vh;
}
