.login-form {
  text-align: center;
  display: block;
  margin: 5% auto;
  max-width: 45vh;
  border-radius: 2vh;
  box-shadow: inset 0 0 1em white, 0 0 1em black;
  background-color: white;
  padding-top: auto;
  padding-bottom: auto;
  z-index: 1;
}

.login-in-box {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.input-header {
  margin-top: 20px;
  margin-bottom: 2px;
}

.input {
  font-size: 20px;
}

.login-button {
  margin-top: 0;
  background-color: darkgray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 10px;
}

.log-in-header {
  margin-top: 15px;
}
.toggle-button {
  margin-top: 0;
  margin-left: -30px;
  height: 17px;
  width: 20px;
  border: white;
  background: no-repeat url('./eye.png');
  background-size: cover;
  cursor: pointer;
}

.wrong-login {
  margin-bottom: 0;
  color: red;
}
