.Navbar{
    position: sticky;
    top:0;
}

header{
    text-align: center;   
}

footer{
    position: relative;
    text-align: center;
    bottom: 0;
    min-width: 100%;
    border-top: 4px solid darkgrey;
}