.login-review {
  display: block;
  max-width: 80vw;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.review-login-button {
  color: black;
  background-color: white;
  font-size: 25px;
  margin-top: 0;
}

.review-login-button:hover {
  color: white;
  background-color: darkgray;
  cursor: pointer;
}
