h4 {
  margin-bottom: -20px;
}

h5 {
  margin-top: -20px;
  margin-bottom: -20px;
}

.username {
  margin-bottom: 0;
}

.review-content {
  display: block;
  max-width: 170vh;
  box-shadow: inset 0 0 1em white, 0 0 1em black;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
}
