.h4-rating {
  margin-bottom: -20px;
  padding-top: 10px;
}

.h5-rating {
  margin-top: -20px;
  margin-bottom: -20px;
}

.username {
  margin-bottom: 0;
}

.review-content {
  display: block;
  max-width: 80vw;
  box-shadow: inset 0 0 1em white, 0 0 1em black;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4vh;
}

.reviews-in-box {
  padding-left: 10px;
  padding-right: 10px;
}

.bottom-text {
  padding-bottom: 10px;
}
