.h3-rating {
  padding-top: 10px;
  font-size: 20px;
  margin: 0;
}

.review-username {
  margin: 0;
  font-size: 18px;
}

.h5-rating {
  margin-top: -20px;
  margin-bottom: -20px;
}

.username {
  margin-bottom: 0;
}

.review-content {
  display: block;
  max-width: 80vw;
  border-radius: 1.4vh;
  box-shadow: inset 0 0 1em white, 0 0 1em black;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4vh;
}

.reviews-in-box {
  padding-left: 10px;
  padding-right: 10px;
}

.bottom-text {
  word-wrap: break-word;
}

.reviewList {
  list-style-type: none;
}

.showMore {
  padding-bottom: 20px;
}

.middleButton {
  text-align: center;
  margin-top: 4vh;
}

.showMore-button-reviews {
  margin-top: 0;
  background-color: darkgray;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-color: lightgray;
  border-width: 10px;
}

.delete-review {
  margin-top: 0;
  background-color: darkgray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 0;
  margin-bottom: 20px;
  cursor: pointer;
}
