.inputPark {
  font-size: 20px;
  width: 30vw;
  max-width: 50%;
}

.add-park-button {
  margin-top: 0;
  background-color: darkgray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 10px;
}

.lat-input {
  float: left;
  width: 50%;
}

.long-input {
  width: 50%;
  float: right;
}

.coordinates {
  margin-top: 20px;
  margin-bottom: 80px;
}

.iput-header {
  font-size: 25px;
  margin-bottom: 10px;
}

.obstacles-input {
  margin-top: 10px;
  margin-left: 30%;
  text-align: left;
  max-height: 2vh;
}
