.park-list {
  text-align: center;
  min-height: 100%;
  background-color: lightgray;
  padding-top: 20px;
  padding-bottom: 20px;
}

.park-box {
  display: block;
  margin: 5% auto;
  max-width: 60vh;
  box-shadow: inset 0 0 1em white, 0 0 1em black;
  background-color: white;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 1;
}

.preview_pic {
  width: 100%;
}

h2 {
  margin: none;
  text-decoration: none;
}

.ParkLink {
  text-decoration: none;
  color: black;
}

.slideshow-container {
  min-height: 25vh;
}
